# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GJ16.05.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\щЕКУЗШУМ\Desktop\GIt\GameJam\GJ16.05\.idea\.idea.GJ16.05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
